@font-face {
  font-family: "Rubik-Regular";
  src: url("../font/Rubik-Regular.ttf");
  src: url("../font/Rubik-Regular.ttf") format("ttf"),
    url("../font/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../font/Montserrat-Bold.ttf");
  src: url("../font/Montserrat-Bold.ttf") format("ttf"),
    url("../font/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../font/OpenSans-Regular.ttf");
  src: url("../font/OpenSans-Regular.ttf") format("ttf"),
    url("../font/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-Bold";
  src: url("../font/Nunito-Bold.ttf");
  src: url("../font/Nunito-Bold.ttf") format("ttf"),
    url("../font/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../font/OpenSans-Bold.ttf");
  src: url("../font/OpenSans-Bold.ttf") format("ttf"),
    url("../font/OpenSans-Bold.ttf") format("truetype");
}
